In [55]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

import warnings
warnings.filterwarnings("ignore")

In [2]:
iris = load_iris()

In [3]:
X, y = iris.data, iris.target

In [4]:
df = pd.DataFrame(data=X, columns=iris.feature_names)
df["target"] = y
df["target_name"] = df["target"].apply(lambda x: iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

<br>Lets, perform the hyper parameter tunning in SVM

In [5]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

In [6]:
cross_val_score(SVC(kernel="linear", C=5, gamma='auto'), X, y, cv=5).mean()

0.9800000000000001

In [7]:
cross_val_score(SVC(kernel="poly", C=5, gamma='auto'), X, y, cv=5).mean()

0.9666666666666666

In [11]:
cross_val_score(SVC(kernel="rbf", C=5, gamma='auto'), X, y, cv=5).mean()

0.9800000000000001

In [73]:
krl = [ "linear", "rbf"]
C = [1, 10, 20]
g='auto'

for k in krl:
    for c in C:
        score = (cross_val_score(SVC(kernel=k, C=c, gamma=g), X, y, cv=5).mean())
        print("Kernel =", k, ", C =", c, ", gamma =", g, ", Score = ", round(score, 2))
    print("\n")

Kernel = linear , C = 1 , gamma = auto , Score =  0.98
Kernel = linear , C = 10 , gamma = auto , Score =  0.97
Kernel = linear , C = 20 , gamma = auto , Score =  0.97


Kernel = rbf , C = 1 , gamma = auto , Score =  0.98
Kernel = rbf , C = 10 , gamma = auto , Score =  0.98
Kernel = rbf , C = 20 , gamma = auto , Score =  0.97

<br><br> Now, we will use the _GridSearchCV_ to do the same thing

In [74]:
from sklearn.model_selection import GridSearchCV
# from sklearn impoet

clf = GridSearchCV(SVC(gamma="auto"), {
    'C': [1,10,20],
    'kernel': ['rbf','linear']                 
}, cv=5, return_train_score='false')

clf.fit(X, y)
clf.cv_results_

{'mean_fit_time': array([0.0010006 , 0.00139947, 0.00139909, 0.00219693, 0.00120039,
        0.00079775]),
 'std_fit_time': array([0.00089474, 0.00079944, 0.00048945, 0.00213136, 0.00040164,
        0.00074514]),
 'mean_score_time': array([0.00539618, 0.00039959, 0.00479689, 0.        , 0.00199776,
        0.00059962]),
 'std_score_time': array([0.00530912, 0.0004894 , 0.00370736, 0.        , 0.00063128,
        0.00048959]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6]),
 'split0_train_score': array([0.98333333, 0.975     , 0.975     , 0.96666667, 0.96666667,
        0.975     ]),
 'split1_train_score': array([0.98333333, 0.975     , 0.96666667, 0.96666667, 0.975     ,
        0.96666667]),
 'split2_train_score': array([0.99166667, 0.99166667, 0.99166667, 0.99166667, 0.99166667,
        0.99166667]),
 'split3_train_score': array([0.98333333, 0.98333333, 0.98333333, 0.99166667, 0.99166667,
        1.        ]),
 'split4_train_score': array([0.975     , 0.98333333, 0.96666667, 0.975     , 0.975     ,
        0.975     ]),
 'mean_train_score': array([0.98333333, 0.98166667, 0.97666667, 0.97833333, 0.98      ,
        0.98166667]),
 'std_train_score': array([0.00527046, 0.0062361 , 0.00971825, 0.01130388, 0.01      ,
        0.01224745])}

In [75]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [76]:
clf.best_score_

0.9800000000000001

In [77]:
df_clf = pd.DataFrame(data=clf.cv_results_)
df_clf

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,0.001001,0.000895,0.005396,0.005309,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,...,0.980000,0.016330,1,0.983333,0.983333,0.991667,0.983333,0.975000,0.983333,0.005270
1,0.001399,0.000799,0.000400,0.000489,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,...,0.980000,0.016330,1,0.975000,0.975000,0.991667,0.983333,0.983333,0.981667,0.006236
2,0.001399,0.000489,0.004797,0.003707,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,...,0.980000,0.016330,1,0.975000,0.966667,0.991667,0.983333,0.966667,0.976667,0.009718
3,0.002197,0.002131,0.000000,0.000000,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,...,0.973333,0.038873,4,0.966667,0.966667,0.991667,0.991667,0.975000,0.978333,0.011304
4,0.001200,0.000402,0.001998,0.000631,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,...,0.966667,0.036515,5,0.966667,0.975000,0.991667,0.991667,0.975000,0.980000,0.010000
5,0.000798,0.000745,0.000600,0.000490,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,...,0.966667,0.042164,6,0.975000,0.966667,0.991667,1.000000,0.975000,0.981667,0.012247

In [78]:
df_clf[["param_C", "param_kernel", "mean_test_score"]]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

<br> If someone has less computation, then they can use RandomizeSearchCV so that it will generate a random number and take that particuler number to run the clf

In [84]:
from sklearn.model_selection import RandomizedSearchCV

r_clf = RandomizedSearchCV(SVC(gamma="auto"), {
    'kernel' : ['linear', 'rbf'],
    'C': [1,10,20]
},cv=5, return_train_score='false', n_iter=2)

r_clf.fit(X, y)
r_clf.best_params_

{'kernel': 'rbf', 'C': 1}

In [89]:
pd.DataFrame(r_clf.cv_results_)[['param_kernel', 'param_C', 'mean_test_score']]

  param_kernel param_C  mean_test_score
0       linear      20         0.966667
1          rbf       1         0.980000

<br>Using different models with different hyperparameters

In [91]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [93]:
model_params={
    'Logistic Regression': {
        'model': LogisticRegression(),
        'params': {
            'C': [1,10,20]
        }
    },
    'svm':{
        'model': SVC(gamma="auto"),
        'params':{
            'C':[1,10,20],
            'kernel':['linear', 'rbf']
        }
    },
    'Random Forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,10,20]
        }
    }
}

In [103]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(iris.data, iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
n_df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
n_df

                 model  best_score                   best_params
0  Logistic Regression    0.980000                     {'C': 10}
1                  svm    0.980000  {'C': 1, 'kernel': 'linear'}
2        Random Forest    0.953333          {'n_estimators': 10}